*.swp
.FreeCAD
.Skype
.SpiderOak
.VirtualBox
.adobe
.aptoncd
.arista
.backgrounds
.bazaar
.byobu
.cache
.caja
.cisco
.config
.dbus
.dotfiles.git
.dropbox
.dropbox-dist
.dvdcss
.eclipse
.fontconfig
.gaphor
.gconf
.gegl-0.0
.gimp-2.6
.gnome-commander
.gnome2
.gnome2_private
.grsync
.gstreamer-0.10
.gvfs
.hardinfo
.hotssh
.java
.jython-cache
.libreoffice
.liferea_1.6
.linuxmint
.local
.m2
.macromedia
.mate2
.mate2_private
.mateconf
.mateconfd
.mc
.mission-control
.mono
.mozilla
.mplayer
.notecase
.opera
.opera_widget_installer
.opera_widget_manager
.pan2
.pki
.pulse
.purple
.qt
.rpdb2_settings
.shotwell
.ssh
.swt
.thumbnails
.thunderbird
.wine
.wireshark
Books
Desktop
Documents
Downloads
Dropbox
Music
N810
Pictures
Ubuntu One
Videos
Virtual Machines
projects
tmp
workspace
.ICEauthority
.Xauthority
.bash_aliases.swp
.bash_history
.bzr.log
.dmrc
.esd_auth
.gitconfig.swp
.gksu.lock
.goutputstream-COBMEW
.gtk-bookmarks
.hugin
.huludesktop
.lesshst
.profile
.ptbt0
.pulse-cookie
.recently-used
.screenrc
.sps-conditioning-test-cases.mkd.swp
.sudo_as_admin_successful
.viminfo
.winpdb_settings.cfg
.xsession-errors
axel.kdb
